body {
  margin: 0;
  font-family: "bree", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(https://img.freepik.com/free-vector/paw-prints-trail-across-screen_78370-866.jpg?w=1800&t=st=1694816725~exp=1694817325~hmac=be76db4010c50da9a80f019d7fcbbae8994a50a290ef35a13674820f1c5bc3d3);
  background-repeat: repeat;
  background-position: center;
  position: relative;
}

header {
  text-align: center;
  background-color: #fafafa;
  
}
section {
  background-color: #f1f1f1;
  padding: 15px;
  width: 571px;
  height: auto;
  margin: auto;
}
.header {
  padding: 15px;
  display: inline;
}
div.header h2 {
  margin: 0;
  padding-left: 3px;
  color: #424141;
}
.box .header .date {
  float: right;
  align-items: center;
  font-size: 15px;
  color: #7c7c7c;
  text-decoration: underline;
  
}
.box {
  background-color: #ffffff;
  width: 570px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #444444;
  border-radius: 12px;
}
img {
  width: 100%;
}
div.description {
  padding: 15px;
}
.date{
  padding-top: 15px;
}